.p1 {
    margin-left: 30%;
    margin-top: 130px;
    font-size: 40pt;
}

.imag{
    margin-left: 45%;
    
    font-size: 35pt;
}


.p2 {
    margin-left: 38%;
    padding-top: 50px;
    font-size: 30pt;
}

.post1 img {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.post1{
    font-size: 17pt;
    margin-left: 150px;
    margin-right: 150px;
    
}
.post2{
    font-size: 17pt;
    margin-left: 150px;
    float: left;
    margin-right: 150px;
}
.table1 {
    float: left;
    font-size: 15pt;
    margin-left: 100px;
    
    border-spacing: 80px 0 ;
}
.imag2 {
    margin-top:500px;
    margin-left: 45%;
    
    font-size: 35pt;
}
.p3{
    margin-left: 28%;
    
    font-size: 35pt;
}
.cod {
    margin-left: 20%;    
    font-size: 13pt;
}
.bord1{
    border: 3px solid black;
    
    font-size: 17pt;
    margin-left: 150px;
    
    margin-right: 150px;
color: white;
background-color: black;
margin-top: 140px;
}
.bord2{
    border: 2px solid black;
    
    font-size: 17pt;
    margin-left: 150px;
    float: left;
    margin-right: 150px;
    padding-right: 100px;
    font-size: 20pt;
    
}

.bord-img{
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.bord-img2{
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
}
.list1 {
    font-size: 17pt;
    margin-left: 170px;
    float: left;
    margin-right: 150px;
}
.list2 {
    font-size: 17pt;
    margin-left: 200px;
    float: left;
    margin-right: 150px;
}

.bord-img3{
    float: right;
    margin-right: 5px;
    margin-bottom: 1px;
    margin-top:150px;
}
.p4{
    
        margin-left: 28%;
        
        font-size: 15pt;
    
}
.poshuk {
    margin-left: 30%;
}
.menu{
    margin-left: 35%;
        
    font-size: 20pt;
    list-style: none;
}
.menu-down{
    margin-left: 0%;
 
    
    list-style: none;
    font-size: 20pt;
    display: block;
    
    
}
