
ul.menu > li > a:hover {
    box-shadow:
    1px 1px black,
    2px 2px black,
    3px 3px black;
  transform: translateX(-7px);

  transition: 0.5s;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    float: left;
   

}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: rgb(44, 42, 42);
    
    text-decoration: none;
}
ul.menu > li > a:hover {
    border-bottom: 2px solid black;
}
ul.submenu {
    display: none;
    position: absolute ;
    width: 120px;
    top: 37px;
    left: 0;
    
   
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: rgb(44, 42, 42);
    background-color: #f8f9fa;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-shadow: 2px 2px 5px;
}
.main-menu {
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
 
  
  
  
  .main-menu > li {
    position: relative;
  }
  
  .main-menu .sub-menu {
    position: absolute;
    top: 5px;
    left: 170px;
    z-index: 10;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fcf8e3;
  }
  

  
  
ul.menu > li:hover > ul.submenu {
    display: block;
    
}


#text-1{
      text-align: center;
    font-family: Helvetica, sans-serif;
    margin-top: 60px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 35px;
    
}
#everyday img {
    height:100%; 
    width:53%;
    float: right;

    
    
}
#nba{
    text-align: center;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-left: 30px;
    font-size: 30px; 
    font-weight: 30px;
   
}
#information{
    background-color: white;
}
#brendJ img{
    height:80%; 
    width:49%;
    float: left;
    
    
}
#brendJ{
    
    text-align: center;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-right: 30px;
    font-size: 30px; 
    font-weight: 30px;
    
    float: right;
    
    
}
#lebron img{
    height:80%; 
    width:52%;
    float: right;
    
}
#lInf{
    padding-top: 33px;
    text-align: center;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-right: 30px;
    font-size: 25px; 
    font-weight: 25px;
    padding-top: 80px; 
}
#footer{
    background-color:black;
    border: 2px solid black;
    height: 100px;
    width:100%;
     position: relative;
    float: left;
    box-shadow: -5px -5px;
    color: white;
    text-align: left;
   
}

