.col-sm-3:hover {
    transform: scale(1.2);
    transform: scale(1.2);
    transform: scale(1.2);
    
  }
  .container{
      padding-top: 50px;
      padding-bottom: 50px;
  }
  .col-sm-3 {
    opacity: 1;
  }
  
  .col-sm-3:hover {
    opacity: 0.6;
  }
 
ul {
    display: block;
    
    list-style: none;
    font-size: 20px;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    
   

}