
ul {
    display: block;
    
    list-style: none;
    font-size: 20px;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    


}



#text-1{
      text-align: center;
    font-family: Helvetica, sans-serif;
    
    font-size: 35px;
    padding: 50px;
}




  .container{
      padding-top: 50px;
      padding-bottom: 50px;
  }
 