body {
    height: 100%;
    margin: 0;
    padding: 0;
   
}
#head{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    height: 60px;
    width:100%;
     position: fixed;
    
    
    
}
.menu{
    
    margin-left: 50px;
    margin-top: 10px;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    float: left;
    padding-left: 10px;
    
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: black;
    
    text-decoration: none;
}
ul.menu > li > a:hover {
    box-shadow:
    1px 1px black,
    2px 2px black,
    3px 3px black,
    4px 4px black,
    5px 5px black,
    6px 6px black,
    7px 7px black;
  transform: translateX(-7px);
  transform: translateX(-7px);
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    
   
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: black;
    background-color: #f8f9fa;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-shadow: 2px 2px 5px;
}
.main-menu {
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
 
  
  
  
  .main-menu > li {
    position: relative;
  }
  
  .main-menu .sub-menu {
    position: absolute;
    top: 5px;
    left: 170px;
    z-index: 10;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fcf8e3;
  }
  
  
  
  
ul.menu > li:hover > ul.submenu {
    display: block;
}
#listHeader {
    float: left;
    margin-left: 50px;
}
#head img{
    padding-left: 15px;
    float: left;
}
#main {
    background-color: #f8f9fa;
}
#main img {
    margin-top: 57px;
    height:550px;
    width:96%;
}
#main2{
    margin-left: 100px;
}
#text-1{
      text-align: center;
    font-family: Helvetica, sans-serif;
    margin-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 35px;
    
}
#text-2{
    text-align: center;
  font-family: Helvetica, sans-serif;
  margin-top: 90px;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 35px;
  
}
#text-2{
    text-align: center;
  font-family: Helvetica, sans-serif;
  padding-top: 40px;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 35px;
  
}
#everyday img {
    height:450px; 
    width:700px;
    float: right;

    
    
}
#nba{
    text-align: center;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-left: 30px;
    font-size: 30px; 
    font-weight: 30px;
    padding-top: 80px;
}
#information{
    background-color: white;
}
#brendJ img{
    height:450px; 
    width:650px;
    
    
}
#jInf{
    padding-top: 33px;
    text-align: center;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-right: 30px;
    font-size: 30px; 
    font-weight: 30px;
    padding-top: 80px;
}
#j1 img{
    height:450px; 
    width:700px;
    float: right;
    
}
#lInf{
    padding-top: 33px;
    text-align: center;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-right: 30px;
    font-size: 25px; 
    font-weight: 25px;
    padding-top: 80px; 
}
#footer{
    background-color:black;
    border: 2px solid black;
    height: 50px;
    width:1342px;
     position: relative;
    float: left;
    box-shadow: -5px -5px;
    color: white;
    text-align: left;
   
}


#jordanIcon {
    margin-left: 750px;
    display: none;
}